@model WebProgramlamaProje.Models.PlaneInfo

@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}

<h1>Uçak Sil</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlaneInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlaneID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <br />
    <div class="action-buttons">
        <a href="@Url.Action("Index", "PlaneInfo")">Uçak Listesi</a>
    </div>
    <div class="action-buttons">
        <a href="@Url.Action("Index", "Admin")" class="action-buttons" style="background-color:black ; color:red">Dashboard'a Dön</a>
    </div>
</div>

<style>
    /* Delete Container */
    .delete-container {
        margin: 20px; /* Dilerseniz boşluğu artırabilir veya azaltabilirsiniz */
    }

    /* Delete Confirmation Message */
    h3 {
        color: #dc3545;
    }

    /* Details List */
    .row {
        margin-bottom: 15px;
    }

    .col-sm-2 {
        font-weight: bold;
    }

    .col-sm-10 {
        margin-bottom: 10px;
    }

    /* Delete Form */
    .btn-danger {
        background-color: #dc3545;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }

    .btn-danger:hover {
        background-color: #bb2c3b;
    }

    /* Back to List Link */
    .back-to-list-link {
        color: #007bff;
        text-decoration: none;
    }

    .back-to-list-link:hover {
        text-decoration: underline;
    }

    .action-buttons a {
        display: inline-block;
        padding: 8px 12px;
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .action-buttons a:hover {
            background-color: #0056b3;
        }
</style>
