@model WebProgramlamaProje.Models.Flight
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1>@_localization.GetKey("homeSlogan").Value</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" id="second">

    <ul class="nav nav-tabs">
        <li class="active"><a class="tabshead" data-toggle="tab" href="#home"><i class="fas fa-plane"></i> @_localization.GetKey("flights").Value</a></li>
        <li><a class="tabshead" data-toggle="tab" href="#menu1"><i class="far fa-address-book"></i> @_localization.GetKey("searchTicket").Value</a></li>
        
    </ul>

    <div class="tab-content">
        
        <div id="home" class="tab-pane fade in active">
            <h3 class="lab">@_localization.GetKey("flights").Value</h3>
            <form action="Home/Search" method="POST">
                <select name="cityFrom" class="drop" id="ori">
                    <option disabled selected value="">@_localization.GetKey("from").Value</option>
                    @foreach (var item in ViewBag.dcity)
                    {
                        <option>@item</option>
                    }
                </select>
                <i class="fas fa-exchange-alt"></i>
                <select name="cityTo" class="drop" id="dest">
                    <option disabled selected value="">@_localization.GetKey("to").Value</option>
                    @foreach (var item in ViewBag.acity)
                    {
                        <option>@item</option>
                    }
                </select>
                <br />
                <span class="lab">@_localization.GetKey("date").Value</span>
                <br />
                <input type="date" name="flightDate" class="drop" id="depart">
               
                <input type="submit" name="submit" value="@_localization.GetKey("searchTicket").Value" id="flightsButton">
            </form>
        </div>

        <div id="menu1" class="tab-pane fade">
            <h3 class="lab2">@_localization.GetKey("myTickets").Value</h3>
            <form action="Home/SearchTicket" method="POST">
                <input type="text" name="ticketNo" placeholder="@_localization.GetKey("ticketNumber").Value" class="drop2">
                <input type="submit" name="submit" value="@_localization.GetKey("searchTicket").Value" id="tickButton">
            </form>
        </div>

    </div>
</div>
<br />

