<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sidebar Menu with sub-menu | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/css/admin.css" rel="stylesheet" />

</head>
<body>
    <div class="btn">
        <span class="fas fa-bars"></span>
    </div>
    <nav class="sidebar">
        <div class="text">
            <i class="fa fa-plane"></i>
            SAU Airways
        </div>
        <ul>
            <li class="active"><a href="#"> <i class="fas fa-qrcode"></i> Dashboard</a></li>
            <li>
                <a href="#" class="feat-btn">
                    <i class="fa fa-laptop"></i>
                    Planes
                    <span class="fas fa-caret-down first"></span>
                </a>
                <ul class="feat-show">
                    <li><a href="@Url.Action("Create", "PlaneInfo")">Add Plane</a></li>
                    <li><a href="@Url.Action("Index", "PlaneInfo")">View Details</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="serv-btn">
                    <i class="fa fa-laptop"></i>
                    Flight
                    <span class="fas fa-caret-down second"></span>
                </a>
                <ul class="serv-show">
                    <li><a href="@Url.Action("Create", "Flights")">Add Flight</a></li>
                    <li><a href="@Url.Action("Index", "Flights")">Flight Details</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("ALogout", "Login")"><i class="fa fa-power-off" aria-hidden="true"></i> Log Out</a></li>
        </ul>
    </nav>
   
    <main role="main" class="pb-3" >
        @RenderBody()
    </main>
    <div class="content" >
        <div class="header">
            Welcome to Admin Panel 
        </div>
        <div class="header">
            @Context.Session.GetString("AdminName") 
        </div>
        <div class="header">
             @Context.Session.GetString("AdminMail")
        </div>
    </div>
    <script>
        $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
            $('nav ul .first').toggleClass("rotate");
        });
        $('.serv-btn').click(function () {
            $('nav ul .serv-show').toggleClass("show1");
            $('nav ul .second').toggleClass("rotate");
        });
        $('nav ul li').click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
    </script>
</body>
</html>
