@model IEnumerable<WebProgramlamaProje.Models.FlightBooking>

@{
    ViewData["Title"] = "bookTicket";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<h1>bookTicket</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.FlightFrom) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
